<section class="page-section bg-dark text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa-solid fa-user-gear"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-md text-center">
        <p class="lead">
          Hello, I'm Tarık, I've been working as a backend developer for a
          while. I am 24 years old and studying at university. I work every day
          to be better.. You can contact me with any questions
        </p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4" style="padding-left: 15px">
      <a class="btn btn-md btn-outline-light" target="_blank" href="https://github.com/TarikSogukpinar">
        <i class="fa-brands fa-github"></i>
        Github
      </a>
      <a class="btn btn-md btn-outline-light style="padding-left: 15px"" target="_blank" href="https://www.linkedin.com/in/tar%C4%B1k-so%C4%9Fukp%C4%B1nar/">
        <i class="fa-brands fa-linkedin"></i>
        Linkedin
      </a>
      <a class="btn btn-md btn-outline-light style="padding-left: 15px"" target="_blank" href="https://medium.com/@tariksogukpinar">
        <i class="fa-brands fa-medium"></i>
        Medium
      </a>
      <a class="btn btn-md btn-outline-light style="padding-left: 15px" href="mailto:ledunv@protonmail.com"  >
        <i class="fa-solid fa-at"></i>
        Email
      </a>
    </div>
  </div>
</section>