<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      Contact Me
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa-solid fa-file-signature"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">

        <form class="form-register" action="contact/addNewPost" method="post">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="contact_firstname" name="contact_firstname" type="text" placeholder="Enter your name..." required />
            <label for="name"><i class="fa-solid fa-user"></i> <strong> Full name</strong> </label>
            <div class="invalid-feedback" data-sb-feedback="name:required">
              A name is required.
            </div>
          </div>

          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="contact_email" name="contact_email" placeholder="name@example.com" required />
            <label for="email"><i class="fa-solid fa-envelope"></i> <strong> Email address</strong> </label>
            <div class="invalid-feedback" data-sb-feedback="email:required">
              An email is required.
            </div>
            <div class="invalid-feedback" data-sb-feedback="email:email">
              Email is not valid.
            </div>
          </div>
          <!-- Title input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="contact_title" name="contact_title" placeholder="Example Topic" data-sb-validations="required" />
            <label for="title"><i class="fa-solid fa-align-left"></i><strong> Title</strong> </label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              Title is required.
            </div>
          </div>
          <!-- Github input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="contact_github" name="contact_github" placeholder="Example Topic" data-sb-validations="required" />
            <label for="title"><i class="fa-brands fa-github"></i><strong> Github (optional)</strong> </label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              Github is required.
            </div>
          </div>
          <!-- Linkedin input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="contact_linkedin" name="contact_linkedin" placeholder="Example Topic" data-sb-validations="required" />
            <label for="title"><i class="fa-brands fa-linkedin"></i><strong> Linkedin (optional)</strong> </label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              Linkedin is required.
            </div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="contact_contactdescription" name="contact_contactdescription" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
            <label for="message"><i class="fa-solid fa-message"></i> <strong>Message</strong> </label>
            <div class="invalid-feedback" data-sb-feedback="message:required">
              A message is required.
            </div>
          </div>

          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms"></a>
            </div>
          </div>

          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">
              Error sending message!
            </div>
          </div>
          <!-- Submit Button-->
          <button class="btn btn-primary btn-xl" id="submitButton" type="submit" value="gonder">
            <i class="fa-solid fa-paper-plane"></i> <strong> Send</strong>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>