<div class="copyright py-5 text-center bg-primary text-white" style="font-size: 15px;">
  <div class="container">
    <strong style="padding-bottom: 15px"
      >&copy; Copyright - tariksogukpinar.com </strong
    >
    <br>
    <div class="col">
     <strong> <em>Created By</em>  </strong>
     <br>
     <div class="col" style="font-size: 25px;" >
        <i class="fa-brands fa-bootstrap"  ></i>  <i class="fa-brands fa-node-js"></i> <i class="fa-brands fa-js-square"></i>
     </div>
    
    </div>
  </div>
</div>
