<div class="copyright py-5 text-center text-white">
  <div class="container">
    <small style="padding-bottom: 15px"
      >Copyright &copy; tariksogukpinar.com</small
    >
    <br />
    <br />
    <div class="row">
      <div class="col">
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-twitter"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-dribbble"></i
        ></a>
      </div>
    </div>
  </div>
</div>
