<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <p class="copyright-text text-center">
          Copyright &copy; 2022 All Rights Reserved
        </p>
        <p class="copyright-text text-center">
          <a rel="nofollow" href="mailto: tariksogukpinar@outlook.com"
            ><i class="fas fa-inbox"></i> Mail</a
          >
          <a
            target="_blank"
            href="https://www.linkedin.com/in/tar%C4%B1k-so%C4%9Fukp%C4%B1nar/"
            ><i class="fab fa-linkedin"></i> Linkedin</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
