<section>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="about-text">
          <h1 class="animated animated-text">
            <span class="mr-2">Hey folks, I'm</span>
            <div class="animated-info">
              <span class="animated-item"><small>Tarık</small> </span>
              <span class="animated-item"><small>Web Designer</small> </span>
              <span class="animated-item"
                ><small>BackEnd Developer</small>
              </span>
            </div>
          </h1>

          <p>
            I'm backend developer based in Konya, Turkey I'm working currently
            on JavaScript & Node JS Please
            <a href="mailto: tariksogukpinar@outlook.com">contact me</a> for any
            problem
          </p>

          <div class="custom-btn-group mt-5" id="tech" style="font-size: 55px">
            <p>My Tech Stack</p>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-nodejs-plain"></i>
            <i class="devicon-typescript-plain"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-react-original"></i>
          </div>
        </div>
      </div>

      <div id="dev-icon" class="col-md-auto d-flex justify-content-center">
        <i class="devicon-devicon-plain" style="font-size: 300px"></i>
      </div>
    </div>
  </div>
</section>
