<header class="masthead bg-dark text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5 img-fluid" src="https://i.ibb.co/qxmSvb5/70908075.jpg" alt="..." style="border-radius: 55px; border: 5px solid white;" />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Tarık Soğukpınar</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light" id="masthead-divider">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0" id="masthead-text">
      Junior Developer
    </p>
    <br />

    <div class="row" id="masthead-tech">
      <div class="col">
        <i class="devicon-javascript-plain" style="font-size: 50px; padding-right: 15px;"></i>
        <i class="devicon-typescript-plain" style="font-size: 50px; padding-right: 15px;"></i>
        <i class="devicon-nodejs-plain" style="font-size: 50px; padding-right: 15px;"></i>
        <i class="devicon-html5-plain" style="font-size: 50px; padding-right: 15px;"></i>
        <i class="devicon-css3-plain" style="font-size: 50px; padding-right: 15px;"></i>
        </p>
      </div>
    </div>
  </div>
</header>