<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><i class="fas fa-user-circle"></i> Welcome</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="/" class="nav-link"
            ><span data-hover="Home"><i class="fas fa-home"></i> Home</span></a
          >
        </li>

        <li class="nav-item">
          <a href="#resume" class="nav-link"
            ><span data-hover="Resume"
              ><i class="fas fa-file"></i> Resume</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://medium.com/@tariksogukpinar"
            target="_blank"
            class="nav-link"
            ><span data-hover="Articles"
              ><i class="fab fa-medium"></i> Articles</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/TarikSogukpinar"
            target="_blank"
            class="nav-link"
            ><span data-hover="Github"
              ><i class="fab fa-github"></i> Github</span
            ></a
          >
        </li>
      </ul>

      <ul class="navbar-nav ml-lg-auto">
        <div class="ml-lg-4">
          <div
            class="color-mode d-lg-flex justify-content-center align-items-center"
          >
            <i class="color-mode-icon"></i>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
