<section
  class="resume py-5 d-lg-flex justify-content-center align-items-center"
  id="resume"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4"><i class="fas fa-briefcase"></i> Experiences</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2022</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Backend Developer</span
                ><small>
                  <a href="https://bradrain.com/" target="_blank"
                    >Bradrain.com</a
                  >
                </small>
              </h3>
              <p>
                Bradrain team work with mentors, technology companies and
                start-ups, to help talented young people who are interested in
                brain drain to go abroad and help them in this process. As a
                company, We aim to be the most reliable and most preferred
                company working for this purpose in the long term.
              </p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2022</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Backend Developer</span
                ><small
                  ><a href="https://loscart.com/" target="_blank"
                    >Loscart</a
                  ></small
                >
              </h3>
              <p>
                A system that facilitates the shopping process performed by
                buyers and sellers on e-commerce platforms.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">
          <i class="fas fa-user-graduate"></i> Educations
        </h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2019</span>
            </div>
            <div class="timeline-info">
              <h3><span>Selcuk University</span></h3>
              <p>
                Bachelor's Degree, Cinematography and Film / Video Production
              </p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2021</span>
            </div>
            <div class="timeline-info">
              <h3><span>Atatürk University </span></h3>
              <p>Associate Degree, Computer Programming</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
