<!DOCTYPE html>
<html lang="en">


<%-include('./inc/head') %>


<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="display-1 fw-bold"><strong>SUCCESS!</strong> </h1>
      <p class="fs-3"> <span class="text-primary"><strong>Form</strong> </span> <strong>submitted successfully</strong> </p>
      
      <a href="/" class="btn btn-primary"><i class="fa-solid fa-cubes-stacked"></i> Go Home</a>
    </div>
  </div>
</body>


</html>